
body {
   background-color: black; /* Couleur de fond par défaut */
   background-repeat: repeat; /* Répéter l'image */
   color: #ac6a63; /* Couleur du texte */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police de caractères */
   margin: 20px; 
   display: flex; 
   justify-content: center; /* Centrer le contenu */
   flex-direction: column;
}

/* Styles des titres */
h1 {
   color: #ac6a63;
   font-size: 100px;
   display: flex;
   align-items: baseline; /* Alignement des éléments */
}

h2 {
   color: grey; /* Couleur du h2 */
}

h4 {
   color: #ac6a63; /* Couleur du h4 */
}

/* Styles de la liste ordonnée */
ol {
   background: black; /* Fond de la liste */
   color: #ac6a63; /* Couleur du texte */
   padding: 50px; 
   border-radius: 20px; /* Arrondir les coins */
}

/* Styles des éléments de la liste */
li {
   color: rgb(0, 0, 0); /* Couleur des éléments de liste */
}

/* Styles des liens */
a {
   color: #ac6a63; /* Couleur des liens */
   text-decoration: none; /* Pas de soulignement */
}

a:hover {
   color: #ac6a63; /
}

/* Styles des images */
img {
   width: 400px; /* Largeur par défaut */
   height: 400px; /* Hauteur par défaut */
   margin: auto; /* Centrer l'image */
}

img:hover {
   width: 500px; /* Largeur au survol */
   height: 500px; /* Hauteur au survol */
}
